.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:50px;
}
select{
  width:20rem;
  padding:5px;
  border:2px solid silver;
  border-radius:8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
select:hover{
    outline:none;
}
p{
    font-size:40px;
}
button{
    padding:8px;
    margin:5px;
    font-size:14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:5px;
    border:1px solid silver;
}
.selectOption{
    width:auto;
}
input{
    width:20rem;
    padding:5px;
    border:2px solid silver;
    border-radius:8px;
    margin:5px;
}
input:focus{
    outline:none;
}